// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  background-color: aqua;
  height: 100px;
}

h1{
  color: crimson;
  font-family: 'Franklin Gothic Medium';
}

body{
  height: 400px;
  width: 100%;
  background-color: burlywood;
}

footer{
  height: 5px;
}

.sign_in_style{
  float: right;
  padding-right: 50px;
}
