<h3>Customers list</h3>

<table class="table_style">
  <tr>
    <th>Name</th>
    <th>Email</th> 
    <th>Phone number</th>
  </tr>
  <% @users.each do |user|%>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email%></td> 
    <td><%= user.phone_number%></td>
  </tr>
  <% end %>
</table>
