<h3>Customers list</h3>
<ol>
<% @users.each do |user|%>
 <li> 
  <h5>Name: <%= user.name %> </h5>
  <h5>Email: <%= user.email%></h5>
  <h5>Phone_number:  <%= user.phone_number%></h5>
  </li>
<% end %>
</ol>